
MainWindow {
    background-image: url('./livenodes/gui/static/connected_human.jpg');
    background-repeat: no-repeat; 
    background-position: center top;
}

QLabel {
    background-color: white;
}

QTView {
    background-color: white;
}